body {
	background-color: Linen;
}

div.subsection {
	margin-left: 20px;
}

input {
	margin-top: 5px;
	background-color: WhiteSmoke;
}

input[type="submit"] {
	border-radius: 8px;
	margin-left: 20px;
}

input[type="text"] {
	padding-left: .4em;
}

input[type="text"]:hover {
	background-color: Yellow;
}

input[type="number"] {
	padding-left: .4em;
}

h1.top_graphic_title {
	padding-top: .5em;
	padding-left: .5em;
	text-align: left;
	color: Linen;
}

h1.title {
	text-align: center;
	text-decoration: underline;
	color: black;
}


h3.heading {
	margin-top: 30px;
	color: white;
	background-color: SteelBlue;
	padding-top: .1em
	padding-bottom: .1em;
	padding-left: .5em;
}

h4.subheading {
	margin-right: 20px;
	margin-bottom: 5px;
	background-color: lightgray;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: .5em;
}

.subheadingcontent {
	margin-left: 20px;
}

.hidden>div {
	display: none;
}

.visible>div {
	display: block;
}

.debug {
	border: 3px dashed red;
	background-color: lightgray;
	padding: .5em;
}

#top-graphic {
	height: 185px;
	width: 900px;
	background-image: url('images/top.jpg')
}

.nav-button {
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

#nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: .5em;
}

#home-main {
	clear: both;
	max-width: 899px;
	margin: auto;
}

.test_class {
	background-color: blue;
}